<h1>Bienvenidos la GonchiTienda Online</h1>

<ul>
  <% @products.take(4).each do |product| %>
    <li>
      <%= product.name %>
      <br>
      <%= product.price %>
      <%= button_to "Agregar al Carrito", line_items_path %>
    </li>
  <% end %>
</ul>
